// http://fontawesome.io/icon/bars/

// 로그인 딤창
.login-dim
  position: absolute
  width: 100%
  left: 0
  top: 0
  height: 100%
  background-color: rgba(0, 0, 0, 0.75)
  display: flex
  justify-content: center
  align-items: center
  // 이벤트시 display를 원래대로 바꿔서 표시
  // display: flex
  &.hidden
    display: none
  .login
    width: 250px
    height: 200px
    background: tomato
    .login_input > input
      display: block
      margin: 0 auto
